<!-- <form-success></form-success>  -->
<header class="header">
  <!-- Logo -->
  <a href="#"
    ><img
      class="logo"
      src="https://alvimurtaza.github.io/Interview-Front-end/images/l0-l1-l2-engineer/logo.png"
  /></a>
  <a href="#" class="logout">
    <img
      src="https://alvimurtaza.github.io/Interview-Front-end/images/l0-l1-l2-engineer/logout.png"
    />
  </a>
  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu" />
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  <!-- Menu -->
  <nav class="nav">
    <ul class="menu">
      <li><a class="list-item" href="#">Dashboard</a></li>
      <li><a class="list-item" href="#">Account</a></li>
      <li><a class="list-item" href="#">Help</a></li>
      <li><a class="list-item" href="#">Logout</a></li>
    </ul>
  </nav>
</header>
